@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #ffffeb;
}
header{
    background-color: #d4c0de;
    box-shadow: 0px 3px 10px #d8afcf;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: white;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
}
.button button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width: 730px){
    .nav-bar{
        padding:1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .button{
        display: block;
        padding-top: 1rem 2rem;
    }
    .mobile-menu .button button{
        width: 100%;
    }
    .open{
        display: block;
    }
}