*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Thoma, sans-serif;
}

body{
    background-color: #f4fff9;
    height: 100vh;
    display:flex;
    flex-direction:column;
}

header{
    background-color: #d5f3e5;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    height: 50px;
}

ul,li {
    list-style: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
  background-color: #a7ce9c;
  border-radius: 10%;
}

.menu{
    display: flex;
}

.menu ul{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    padding: 5px;
    text-decoration: none;
    color: green;
}

.contato {
    width: 300px;
    height: 560px;
    margin: 35px auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-top: 10px;
}

h1{
    display: block;
    justify-content: center;
}

form{
    margin-top: 40px;
    display: grid;
    justify-content: center;
}

input[type="text"], input[type="password"], textarea{
    width: 100%;
    padding: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
    font-size: 16px;
    background-color: #f1f1f1;
    resize: none;
}

.area {
    width: 100%;
    padding: 0px 10px;
    margin: 0px ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    appearance: none;
  }
  
.area:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="submit"] {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    background-color: #d5f3e5;
    display: flex;
    justify-content: center;
    color: green;
    min-height:50px;
    margin-top: auto;
    padding: 10px;
}