*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Thoma, sans-serif;
}

body{
    background-color: #f4fff9;
    height: 100vh;
    display:flex;
    flex-direction:column;
}

header{
    background-color: #d5f3e5;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    height: 50px;
}

ul,li {
    list-style: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
  background-color: #a7ce9c;
  border-radius: 10%;
}

.menu{
    display: flex;
}

.menu ul{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    padding: 5px;
    text-decoration: none;
    color: green;
}

footer{
    background-color: #d5f3e5;
    display: flex;
    justify-content: center;
    color: green;
    min-height:50px;
    margin-top: auto;
    padding: 10px;
}

.sobre {
    width: 400px;
    margin: 35px auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
}